<html>
	<head>
		<link rel="stylesheet" type="text/css"
					href="css/credentials.css">

		<link rel="stylesheet" type="text/css"
					href="../../node_modules/bootstrap/dist/css/bootstrap.min.css">

		<link rel="stylesheet" type="text/css"
					href="../../node_modules/bootstrap/dist/css/bootstrap-grid.min.css">
	</head>

	<body>
		<form class="credentials" onsubmit="return false;">
			<div class="form-group">
				<label for="username"> Username </label>
				<input type="text" class="form-control" name="username"></input>	
			</div>
			<div class="form-group">
				<label for="password"> Password </label>
				<input type="password" class="form-control" name="password"></input>	
			</div>
			<div class="submit">
				<button class="btn btn-primary" alt="Login" type="submit"> Login </button>
			</div>
		</form>

		<script type="text/javascript"
					src="../../node_modules/jquery/dist/jquery.min.js"></script>

		<script type="text/javascript"
					src="../app.js"></script>

		<script type="text/javascript"
					src="../services/CredentialsService.js"></script>

		<script type="text/javascript"
					src="../viewmodels/CredentialsVM.js"></script>

		<script type="text/javascript"
					src="../widgets/CredentialsWidgets.js"></script>

		<script type="text/javascript"
					src="../../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>

		<script type="text/javascript"
					src="../../node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	</body>
</html>
