
.credentials {
	width: 600px;
	margin: auto;
}

.credentials > .submit {
	width: 300px;
	float: right;
}

.credentials > .inputs {
	width: 300px;
	float: left;
}

.pretty-button-like-me {
	border: 5px solid gray;
	border-style: dashed;
}












